@import url('bootstrap.min.css');

.background{
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
    .background img{
      max-width: 100%;
      height: auto;
      background-size: contain;
    }
}

.text {
  position: absolute;
  font-size: 20px;
  font-family: sans-serif;
  margin-top: -300px;
  margin-lefT: 18%;
  text-align: center;
}
.logo img {
  width: auto;
  position: absolute;
  margin-top: -400px;
  margin-left: 80px
}
