@import url('bootstrap.min.css');

.background{
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
    .background img{
      max-width: 100%;
      height: auto;
      background-size: contain;
    }
}

.text {
  position: absolute;
  font-size: 20px;
  font-family: sans-serif;
  margin-top: -300px;
  margin-lefT: 18%;
  text-align: center;
}
.logo img {
  width: auto;
  position: absolute;
  margin-top: -400px;
  margin-left: 80px
}

.form-instructions {
	text-align: center;
}

form {
	margin: 2rem auto;
	width: 100%;
	max-width: 330px;
	will-change: transform;
}

// =============================
// Input styles
// =============================
.fieldgroup {
	margin: 1.5rem 0;
	position: relative;
}

label {
	position: absolute;
	top: .8rem;
	left: 0;
	display: block;
	font-size: 1rem;
	transition: $page-animDuration ease-out;
	opacity: .5;
	will-change: top, font-size;

	&:hover {
		cursor: text;
	}
}

input {
	border: 1px solid #fff;
	font-size: 1.2rem;
	padding: .6rem;
	padding-left: 0;
	background:transparent;
	border: none;
	border-bottom: 2px solid #444;
	transition: $page-animDuration;
	width: calc(100% - .6rem);
	max-width: 350px;
	border-radius: 0;

	&:focus {
		outline: none;
	}

  // =============================
  // Form animations
  // =============================
  .animation-container {
  	position: relative;
  	width: 100%;
  	transition: .3s;
  	will-change: padding;
  	overflow: hidden;
  }
  .form-step {
  	position: absolute;
  	transition: 1s ease-in-out;
  	transition-timing-function: ease-in-out;
  	will-change: transform, opacity;
  }

  .form-step.leaving {
  	animation: left-and-out .5s forwards;
  }

  .form-step.waiting {
  	transform: translateX(400px);
  }

  .form-step.coming {
  	animation: right-and-in .5s forwards;
  }
